apiVersion: v1
kind: Service
metadata:
  name: backend-service
  namespace: sentinelstack
  labels:
    app: backend
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: {{ .Values.service.targetPort }}
      protocol: TCP
      name: http
  selector:
    app: backend
