replicaCount: 2

autoscaling:
  enabled: false

image:
  repository: sentinelstackaksacr.azurecr.io/frontend
  tag: final
  pullPolicy: Always

service:
  type: LoadBalancer
  port: 80

resources:
  requests:
    memory: "128Mi"
    cpu: "100m"
  limits:
    memory: "256Mi"
    cpu: "200m"

securityContext:
  runAsNonRoot: true
  runAsUser: 101
  capabilities:
    drop:
      - ALL
